
.scheduling-container {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    overflow: hidden; 
  }
  
  .popup-wrapper {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
 
  .popup {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 auto;
  }
  
  
  .success-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 2000;
    font-size: 16px;
    text-align: center;
  }
  
  
  .close-button {
    margin-top: 10px;
    background-color: white;
    color: green;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid green;
    cursor: pointer;
  }
  
  
  .calendar-container {
    position: relative;
    height: fit-content;
    width: fit-content;

  }
  
  .loading {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #888;
  }
  
 
  
  button {
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    opacity: 0.8;
  }
  

  button.save-event {
    background-color: #4caf50;
    color: white;
  }
  
  button.save-event:hover {
    background-color: #45a049; 
  }
  
  
  button.cancel {
    background-color: #f44336;
    color: white;
  }
  
  button.cancel:hover {
    background-color: #e53935; 
  }
  
  
  button.delete-event {
    background-color: #f44336;
    color: white;
    margin-top: 10px;
  }
  
  button.delete-event:hover {
    background-color: #e53935;
  }
  
  
  @media (max-width: 768px) {
    .popup {
      width: 90%;
      max-width: none;
    }
  
    .calendar-container {
      padding: 10px;
    }
  
    .rbc-calendar {
      width: 100%;
      height: 400px; 
    }
  
    
    .success-message {
      font-size: 14px;
      padding: 15px;
    }
  
    .close-button {
      padding: 5px 8px;
    }
  }
  
  
  .rbc-btn-group {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .rbc-btn-group button {
    padding: 6px 12px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
  }
  
  .rbc-btn-group button:hover {
    background-color: #45a049;
  }
  
 
  .rbc-event {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
  }
  
  .rbc-event:hover {
    background-color: #0056b3; 
  }
  